<header class="hero-unit">
  <h1> Intro to Calendar</h1>
  <button>
    <%= link_to('Sign In', new_user_session_path, :id => "sign_in_link")%>
  </button>
  <button>
    <%= link_to('Sign Up', new_user_registration_path, :id => "sign_up_link")%>
  </button>
</header>

<% if current_user %>
  <%= link_to "Add Organization", new_organization_path %>
<% end %>
